{% extends 'base.html' %}
{% load static %}
{% block title %}portpolio{% endblock %}

{% block contents %}
<body>
  {% for portpolio in portpolios.all %}
  <div class="col">
    <div class="card shadow-sm" style="width:300px; margin-left: 10px; ">
      <img src="{{portpolio.image.url}}" height=300 width=300>
      <div class="card-body" style="width:500px; ">
        <p class="card-text"> {{portpolio.description}} </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</body>
</html>
{% endblock %}