{% extends 'base.html' %}

{% block title %}home{% endblock %}
{% block contents %}
<body>
    <!-- 쿼리셋.메소드 쿼리셋 안에 있는 모든
    객체를 가져와라 라는 뜻 -->
    <!-- 내가 쓴 블로그 글들(객체)이 모두 blog.all 에 담김. 
    for문으로 객체를 하나하나씩 순회함. 순회하면서 
    blog 안에 하나씩 객체가 담김. 한 번 돌 때마다 
    blog 안에는 내가 쓴 블로그 글 하나가 담긴다. 
    그 글의 title, pub_date, body 를 담아 출력해준다.  -->
    {% for blog in blogs.all%}
    <div class="card" style="width: 500px; margin-top: 15px; margin-left: 15px;"> 
        <div class="card-body">
          <h5 class="card-title"{{blog.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
          <p class="card-text">{{blog.summary}}</p>
          <a href="{%url 'detail' blog.id%}" class="card-link">..more</a>
        </div>
    </div>
    {% endfor%}
    
</body>
</html>

{% endblock %}